.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slideContainer {
    display: grid;
    grid-template-rows: min-content;
    width: 30rem;
    padding: 0;
    margin: 0;
}

.buttonsContainer {
  grid-column: 1;
  grid-row: 1;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next,
.prev {
  background: none;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #666;
  border: none;
  font-size: 500%;
  height: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  transition: color 700ms;
}

.next:hover, .prev:hover {
  color: red;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: red;

}

.image {
    padding: 0;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
  }

.pageDots {
  display: flex;
  justify-content: center;
}

.pageDots div {
  border: 1px solid black;
  opacity: 0.8;
  margin: 0.5rem;
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
}

@media only screen and (max-width: 900px) {
  .slideContainer {
    width: 100%;
  }
}

